body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    transition: 0.3s;
}

.container {
    background: white;
    padding: 20px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-weight: bold;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input, select {
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

li {
    background: #eee;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 6px solid gray;
}

.high {
    border-left: 6px solid red;
}

.medium {
    border-left: 6px solid orange;
}

.low {
    border-left: 6px solid green;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

/* DARK MODE */
.dark-mode {
    background: #1e1e1e;
    color: white;
}

.dark-mode .container {
    background: #2c2c2c;
}

.dark-mode li {
    background: #444;
}